SPRING_PROFILES_ACTIVE=dev

# ========================
# DATABASE
# ========================
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# ========================
# JWT
# ========================
JWT_SECRET=mySuperSecretKey123456789
JWT_REFRESH_SECRET=

# ========================
# ENCRYPTION
# ========================
ENCRYPTION_SECRET_KEY=

API_KEY=